<!--https://mdbootstrap.com/docs/standard/navigation/footer/-->
<!--https://stackoverflow.com/questions/4172281/force-browsers-to-load-css-before-showing-the-page-->

<!-- Footer -->
<footer style="min-height: 100%; margin-top:10rem" id="footer" class="text-center text-lg-start bg-light text-muted">
    <div id="footer_content">
             <!-- Section: Social media -->
         <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
           <!-- Left -->
           <div class="me-5 d-none d-lg-block">
             <span>Follow us</span>
           </div>
           <!-- Left -->
       
           <!-- Right -->
           <div>
             <a href="" class="me-4 text-reset">
               <i class="fa fa-facebook" aria-hidden="true"></i>
             </a>
             <a href="" class="me-4 text-reset">
                <i class="fa fa-twitter"></i>
             </a>
             <a href="" class="me-4 text-reset">
                <i class="fa fa-google"></i>
             </a>
             <a href="" class="me-4 text-reset">
                <i class="fa fa-instagram"></i>
             </a>
             <a href="" class="me-4 text-reset">
                <i class="fa fa-linkedin"></i>
             </a>
             <a href="" class="me-4 text-reset">
                <i class="fa fa-github"></i>
             </a>
             <a href="" class="me-4 text-reset">
                <i class="fa fa-telegram" aria-hidden="true"></i>
             </a>
             <a href="" class="me-4 text-reset">
                <i class="fa fa-reddit" aria-hidden="true"></i>
             </a>
             
           </div>
           <!-- Right -->
         </section>
         <!-- Section: Social media -->
       
         <!-- Section: Links  -->
         <section class="">
           <div class="container text-center text-md-start mt-5">
             <!-- Grid row -->
             <div class="row mt-3">
               <!-- Grid column -->
               <!--💢https://stackoverflow.com/questions/20242455/what-are-the-difference-between-col-lg-and-col-md-in-bootstrap3-->
               <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4"> 
                <!--col-md-*  Medium (md) devices (ie laptops, or small desktops) (≥992px).-->
                <!--col-lg-* Large devices (ie Desktops) (≥1200px) -->
                <!--✅Important hidden information (trong màn hình mobile, column được tự động stack on other column thực hiện không cần khai báo): col-xs-12 means on mobile only 1 card will with 100% width of the page.-->
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                     <i class="fa fa-address-card" aria-hidden="true"> RETI company</i>
                    </h6>
                    <p>
                      Here you can use rows and columns to organize your footer content. Lorem ipsum
                      dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <hr class="footer_hr" style="color:white">
               </div>
               
               <!-- Grid column -->
       
               <!-- Grid column -->
               <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                      Products
                    </h6>
                    <p>
                       <a href="https://www.freecodecamp.org/news/angular-for-beginners-course/" class="text-reset">
                         <i style="color:red" class="fa fa-free-code-camp" aria-hidden="true"></i> <span style="color:white">Angular</span>
                       </a>
                    </p>
                    <p>
                       <a href="https://www.freecodecamp.org/news/learn-react-from-three-all-star-instructors/" class="text-reset">
                         <i style="color:red" class="fa fa-free-code-camp" aria-hidden="true"></i> <span style="color:white">React</span>
                       </a>
                    </p>
                    <p>
                      <a href="https://www.freecodecamp.org/news/the-java-handbook/#what-is-inheritance-in-java" class="text-reset">
                        <i style="color:red" class="fa fa-free-code-camp" aria-hidden="true"></i> <span style="color:white">Java</span>
                      </a>
                    </p>
                    <p>
                      <a href="" class="text-reset">
                        <i style="color:red" class="fa fa-free-code-camp" aria-hidden="true"></i> <span style="color:white">Javascript</span>
                      </a>
                    </p>
                    <p>
                      <a href="https://www.freecodecamp.org/news/javascript-coding-interview-practice/" class="text-reset">
                         <i style="color:red" class="fa fa-free-code-camp" aria-hidden="true"></i> <span style="color:white">Vue</span>
                      </a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset">
                         <i style="color:red" class="fa fa-free-code-camp" aria-hidden="true"></i> <span style="color:white">Laravel</span>
                      </a>
                    </p>

                    <p>
                      <a href="https://www.freecodecamp.org/news/an-introduction-to-software-architecture-patterns/#monolithic-architecture" class="text-reset">
                         <i style="color:red" class="fa fa-free-code-camp" aria-hidden="true"></i> <span style="color:white">Software Architecture</span>
                      </a>
                    </p>

                    <hr class="footer_hr" style="color:white">
               </div>
               
               <!-- Grid column -->
       
               <!-- Grid column -->
               <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                      Useful links
                    </h6>
                    <p>
                       <a href="#!" class="text-reset">
                         <i class="fa fa-check-square-o" aria-hidden="true" style="color:green"></i> <span style="color:grey">Pricing</span>
                       </a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset">
                        <i class="fa fa-check-square-o" aria-hidden="true" style="color:green"></i> <span style="color:grey">Settings</span>
                      </a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset"><i class="fa fa-check-square-o" aria-hidden="true" style="color:green"></i><span style="color:grey"> Orders</span></a>
                    </p>
                    <p>
                      <a href="#!" class="text-reset"><i class="fa fa-check-square-o" aria-hidden="true" style="color:green"></i><span style="color:grey"> Help</span></a>
                    </p>
                    <hr class="footer_hr" style="color:white">
               </div>
               
               <!-- Grid column -->
       
               <!-- Grid column -->
               <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fa fa-home me-3"></i> New York, NY 10012, US</p>
                    <p>
                      <i class="fa fa-envelope me-3"></i>
                      info@example.com
                    </p>
                    <p><i class="fa fa-phone me-3"></i> + 01 234 567 88</p>
                    <p><i class="fa fa-print me-3"></i> + 01 234 567 89</p>
   
                    <hr class="footer_hr" style="color:white">
               </div>
              
               <!-- Grid column -->

               <!--💢 strategy: các hr tag sẽ visible trong mobile screen, nhưng sẽ invisible trong table to lagest desktop screen-->
               <!--👉Notice that the hidden heading still takes up space on the page-->
             </div>
             <!-- Grid row -->
           </div>
         </section>
         <!-- Section: Links  -->
       
         <!-- Copyright -->
         <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
           © 2022 Copyright:
           <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
         </div>
         <!-- Copyright -->
    </div>
    
</footer>
<!-- Footer -->